basePath: /api/v1
host: localhost:9876
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: PokeForum 是一个基于 Gin 框架的论坛应用程序
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: PokeForum API
  version: "1.0"
paths: {}
schemes:
- http
- https
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
    x-google-allow: unregistered_calls true
    x-google-backend: ""
  BasicAuth:
    type: basic
swagger: "2.0"
